<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Technician at
      <a class="underline-link" href="https://virtual.mv/" target="_blank">Virtual Technologies LLP</a> dealing with clients and giving support they need as much as I can. I graduated from
      <a class="underline-link" href="http://www.cyryxcollege.edu.mv/" target="_blank">Cyryx College</a> after completing my High School Studies at
      <a class="underline-link" href="http://arabiyya.edu.mv/" target="_blank">Arabiyya</a>.
    </p>

    <p>
      As a Technican, I love meeting new people through out my day and helping &mdash; with my technical knowledge
      for those who in need.
    </p>

    <p>
      <strong>When I'm away from Developing</strong>, I'd probably be spending time with my Family or Friends.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
